
<% if !user_signed_in? %>
	<%= link_to 'Login', new_user_session_url %>
<% else %>
	Welcome back <%= current_user.email %> | 
	<% if can? :create, @article %>
		<%= link_to 'Create Article', new_article_url %> | 
	<% end %>
	<%= link_to 'Logout', destroy_user_session_url, method: :delete %>
<% end %>

<br>
<br>
<p id="notice"><%= notice %></p>

<h1>Articles</h1>


<% @articles.each do |article| %>
<div>
  <h3><%= article.title %></h3>
  <p><%= article.text %></p>
  <ul>
	<li><%= link_to 'Show', article %></li>
	<% if can? :edit, @article %>
		<li><%= link_to 'Edit', edit_article_path(article) %></li>
	<% end %>
	<% if can? :destroy, @article %>
		<li><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	<% end %>
  </ul>
</div>
<% end %>

